<%= form_for(@event, :html => { :class => "form-horizontal well"}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :immigrant_id, :class => "control-label" %>
    <div class="controls">
      <%= collection_select(:immigrant, :immigrant_id, Immigrant.all, :id, :nickname, :prompt => true) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :event_time, :class => "control-label" %>
    <div class="controls">
      <% if @event.event_time.present? %>
        <%= f.text_field :event_time, :class => "datepicker", :id => "dp1", :'data-date-format' => "yyyy-mm-dd" %>
      <% else %>
        <%= f.text_field :event_time, :value =>'2012-06-02', :class => "datepicker", :id => "dp1", :'data-date-format' =>"yyyy-mm-dd" %>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :event_place, :class => "control-label", :placeholder => "Where did it happen?" %>
    <div class="controls">
      <%= f.text_field :event_place %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :event_description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :event_description, :id => "event_description", :placeholder => "What happened?" %>
      <div class="hint">The first line will be displayed as description in the event list. You can use markdown for markup, to embed a youtube video type <code>!{youtube url}</code>.</div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
    <%= link_to 'Back', events_path, :class => "btn" %>
  </div>
  <%= javascript_tag "$(function(){ $('#dp1').datepicker(); });"%>
<% end %>
