<h1>Listing events</h1>

<div id="map" style="height: 400px"></div>

<script language="javascript" type="text/javascript">
  var map = new L.Map('map');
  var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/005e7c081b694ec6bfdb31507369a1a4/997/256/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
  });
  // by default center the map to meditereanian sea
  var center = new L.LatLng(37.6,12.4);
  map.setView(center, 5).addLayer(cloudmade);

  var bounds = new L.LatLngBounds();
  <% @events.each do |event| %>
  {
    var pos = new L.LatLng(<%= event.latitude %>, <%= event.longitude %>);
    var marker =  new L.Marker(pos, {event_link: "<%= url_for event %>"});
    bounds.extend(pos);
    marker.on('click', function(e){
          window.location = e.target.options.event_link;
        });
    map.addLayer(marker);
  }
  map.fitBounds(bounds);
  <% end %>
</script>

<table>
  <tr>
    <th>Immigrant</th>
    <th>Event time</th>
    <th>Event place</th>
    <th>Event description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.immigrant_id %></td>
      <td><%= event.event_time %></td>
      <td><%= event.event_place %></td>
      <td><%= event.event_description %></td>
      <td><%= link_to 'Show', event %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
