<h1>Listing events</h1>

<div id="map" style="height: 600px"></div>

<script language="javascript" type="text/javascript">
  var map = new L.Map('map');
  var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/005e7c081b694ec6bfdb31507369a1a4/997/256/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
  });
  var center = new L.LatLng(38.984669,-77.000808);
  map.setView(center, 15).addLayer(cloudmade);

  <% @events.each do |event| %>
  {
    var marker =  new L.Marker(new L.LatLng(<%= event.latitude %>, <%= event.longitude %>), {event_id: <%= event._id %>});
    marker.on('click', function(e){
        console.log(e);
        });
    map.addLayer(marker);
  }
  <% end %>
</script>

<table>
  <tr>
    <th>Immigrant</th>
    <th>Event time</th>
    <th>Event place</th>
    <th>Event description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.immigrant_id %></td>
      <td><%= event.event_time %></td>
      <td><%= event.event_place %></td>
      <td><%= event.event_description %></td>
      <td><%= link_to 'Show', event %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
