<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span7">
    <p>
      <b>Immigrant:</b>
      <%= @event.immigrant_id %>
    </p>

    <p>
      <b>Event time:</b>
      <%= @event.event_time %>
    </p>

    <p>
      <b>Event place:</b>
      <%= @event.event_place %>
    </p>

    <p>
      <b>Event description:</b>
      <%= @event.event_description %>
    </p>
  </div> <!-- /span7 -->
  <div class="span5">
    <%= render 'map' %>
  </div><!-- /span5 -->
</div><!-- /row -->

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
