<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span7">
    <p>
      <b>Immigrant:</b>
      <%= @event.immigrant_id %>
    </p>

    <p>
      <b>Event time:</b>
      <%= @event.event_time %>
    </p>

    <p>
      <b>Event place:</b>
      <%= @event.event_place %>
    </p>

    <p>
      <b>Event description:</b>
      <%= BlueCloth.new(@event.event_description).to_html.html_safe %>
    </p>
  </div> <!-- /span7 -->
  <div class="span5">
    <%= render 'map' %>
  </div><!-- /span5 -->
</div><!-- /row -->

<%= link_to 'Back', events_path, :class => "btn" %>
<a href="<%= url_for edit_event_path(@event) %>" class="btn"><i class="icon-edit"></i> Edit Event</a>

