<h1>Listing immigrants</h1>

<table class="table">
  <tr>
    <th>Nickname</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Sex</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @immigrants.each do |immigrant| %>
  <tr>
    <td><%= immigrant.nickname %></td>
    <td><%= immigrant.first_name %></td>
    <td><%= immigrant.last_name %></td>
    <td><%= immigrant.sex ? "male" : "female" %></td>
    <td><a href="<%= url_for immigrant %>"><i class="icon-info-sign"></i> Show</a> </td>
    <td><a href="<%= url_for edit_immigrant_path(immigrant) %>"><i class="icon-edit"></i> Edit</a></td>
    <td><i class="icon-minus-sign"></i><%= link_to 'Delete', immigrant, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<a href="<%= url_for new_immigrant_path %>" class="btn"><i class="icon-plus-sign"></i> Add New Immigrant</a>
