<p id="notice"><%= notice %></p>

<p>
  <b>Nickname:</b>
  <%= @immigrant.nickname %>
</p>

<p>
  <b>First name:</b>
  <%= @immigrant.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @immigrant.last_name %>
</p>

<p>
  <b>Sex:</b>
  <%= @immigrant.sex ? "male" : "female" %>
</p>


<%= link_to 'Back', immigrants_path, :class => "btn" %>
<a href="<%= url_for edit_immigrant_path(@immigrant) %>" class="btn"><i class="icon-edit"></i> Edit Event</a>
